{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.note_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.note_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'note.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'note.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'note.updatedAt') }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.content'|trans }}</th>
                <th>{{ 'label.category'|trans }}</th>

                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'label.author'|trans }}</th>
                {% endif %}

                <th>{{ 'label.tags'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for note in pagination.items %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.createdAt|format_date('long') }}</td>
                    <td>{{ note.updatedAt|format_date('long') }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.content|markdown_to_html }}</td>
                    <td>
                        <a class="btn btn-outline-primary"
                           href="{{ url('note_index', {'categoryId' : note.category.id}) }}"
                           title="{{ note.category.title }}">
                            {{ note.category.title }}</a></td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ note.author.email }}</td>
                    {% endif %}

                    <td>
                        {% for tag in note.tags %}

                            <a class="btn btn-outline-primary"
                               href="{{ url('note_index', {'tagId' : tag.id}) }}"
                               title="{{ tag.title }}">
                                {{ tag.title }}{% if not loop.last %}<br>{% endif %}
                            </a>

                        {% endfor %}
                    </td>

                    <td>
                        {% if is_granted('VIEW', note) %}
                            <a href="{{ url('note_show', {id: note.id}) }}" title="{{ 'action.show'|trans }}">
                                {{ 'action.show'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('VIEW', note) %}
                            <a href="{{ url('note_edit', {id: note.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('VIEW', note) %}
                            <a href="{{ url('note_delete', {id: note.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>



    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

    <a class="btn btn-primary" href="{{ url('note_create') }}" title="{{ 'action.create'|trans }}">
        {{ 'action.create'|trans }}
    </a>

{% endblock %}