{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_details'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.task_details'|trans({'%id%': task.id|default('')}) }}</h1>
    {% if task is defined and task|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ task.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ task.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ task.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ task.title }}</dd>
            <dt>{{ 'label.status'|trans }}</dt>
            <dd> {% if task.status == 1 %}
                    {{ 'label.done'|trans }}
                {% else %}
                    {{ task.status|default('label.todo'|trans) }}
                {% endif %}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{ task.category.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ task.author.email }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
            <dd>
                {% for tag in task.tags %}
                    {{ tag.title }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </dd>

        </dl>
        <p class="mt-5">
            <a class="btn btn-primary" href="{{ url('task_edit', {id: task.id}) }}" title="{{ 'action.edit'|trans }}">
                {{ 'action.edit'|trans }}
            </a>
            <a class="btn btn-danger" href="{{ url('task_delete', {id: task.id}) }}"
               title="{{ 'action.delete'|trans }}">
                {{ 'action.delete'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('task_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}